<!DOCTYPE html>
<html>
<head>
	<title>Adam Laycock</title>
	<link rel="shortcut icon" href="https://secure.gravatar.com/avatar/4dea71e9df9a75bddd0c6aac8095065b?s=16">
	<link href="http://fonts.googleapis.com/css?family=Montserrat|Lato:300,500,700" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag "/assets/css/application.css" %>
	<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js" %>
	<%= javascript_include_tag "/assets/js/jquery-ui.js" %>
	<%= javascript_include_tag "/assets/js/application.js" %>
</head>
<body>
	<%= yield %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19397862-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
