<div id="home">	
	<div class="para">
		<div class="details">
			<p><%= link_to "twitter.com/ArcathWhitefall", "http://twitter.com/ArcathWhitefall", target: "_BLANK" %><br />
			<small>Twitter</small></p>
		</div>
		<div class="content">
			<p>My name is <b>Adam Laycock</b> and I spend my time fixing and making. I often go by the handle <b>Arcath</b> a name I made up way back when I was at school.</p>
		</div>
	</div>
	
	<div class="para">
		<div class="details">
			<p>
				<%= link_to "Ed-IT Solutions", "http://www.ed-itsolutions.com", target: "_BLANK" %><br />
				<small>Ed-IT Solutions</small>
			</p>
			<p>
				<%= link_to "Linked In", "http://www.linkedin.com/profile/view?id=120149266&trk=hb_tab_pro_top", target: "_BLANK" %><br />
				<small>Linked In</small>
			</p>
		</div>
		<div class="content">
			<p>I am an IT Engineer &amp; Web Developer working for a small company in the North West of England called <b>Ed-IT Solutions</b>. We work in Primary Schools providing IT Support and Sales, everything from plugging things back in through to server management and installation.</p>
			<p>I spend half my time working as the companies Web Developer making PHP Websites and Ruby Applications.</p>
		</div>
	</div>
	
	<div class="para">
		<div class="details">
			<p>
				<%= link_to "github.com/arcath", "https://github.com/Arcath", target: "_BLANK" %><br />
				<small>Github</small>
			</p>
      <p>
        <%= link_to "coderwall.com/arcath", "https://coderwall.com/arcath", target: "_BLANK" %><br />
        <small>Coderwall</small>
      </p>
		</div>
		<div class="content">
			<p>I contribute to some <b>open-source</b> projects, both self started and community. My highlights:</p>
			<ul>
				<li><%= link_to "Adauth", "http://adauth.arcath.net", target: "_BLANK" %> a Ruby library for interacting with Microsoft's Active Directory. It is now capable of interacting with any object in AD not just users.</li>
				<li><%= link_to "Kashflow API", "https://github.com/Ed-ITSolutions/KashflowAPI", target: "_BLANK" %> a Ruby library to interact with the API for Kashflow. This is a rebuild from scratch based off <%= link_to "this library", "https://github.com/pogodan/kashflow", target: "_BLANK" %> (which I contributed to)</li>
				<li><%= link_to "Markabb", "http://markabb.arcath.net", target: "_BLANK" %> a Ruby library for parsing BB Code into HTML.</li>
				<li><%= link_to "Mosaic", "https://github.com/Arcath/mosaic", target: "_BLANK" %> a Sinatra based framework for simple websites.</li>
				<li><%= link_to "&amp; more", "https://github.com/Arcath?tab=repositories", target: "_BLANK" %></li>
			</ul>
			<p>Unfortunatley some of the libraries &amp; applications I've written at Ed-IT Solutions contain sensative information and practices that can't be displayed to the public, the big projects here are:</p>
			<ul>
				<li><b>Springboard</b> a Stock/Purchasing/Sales application which uses the Kashflow API to interact directly with our accounts. It allows us to track any item we purchase from the moment we purchase it through to the moment its sold and then use its serial number years down the line to find out everything about it.</li>
				<li><b>Trainyard</b> a Logging application that we use to log all interactions with our customers</li>
			</ul>
			<p>Over the years I have learn't a few languages and worked with a few frameworks:</p>
			<ul>
				<li><b>Ruby</b> is my language of choice and I have been using it for the past <%= Time.now.year - 2008 %> years to make anything and everything.<br />Like alot of people my original intrest in Ruby was triggered by Rails, but over time I have taken to using it for everything.</li>
				<li><b>Javascript</b> forms a large part of my work these days to make the user experiance of the applications I make nicer. I've also done some work with Node.JS but the vast majority of my JS usage is in the browser, normally with the help of <%= link_to "jQuery", "http://www.jquery.com", target: "_BLANK" %></li>
				<li><b>PHP</b> was the first language I learn't and I still use it from time to time but its been a long time since I used it <i>"properly"</i></li>
			</ul>
		</div>
	</div>
	
	<div class="para last-para">
		<div class="details">
			<p>
				<%= link_to "arcath.net/blog", "/blog" %><br />
				<small>Blog</small>
			</p>
			<p>
				<%= link_to "tumblr.arcath.net", "http://tumblr.arcath.net", target: "_BLANK" %><br />
				<small>Tumblr</small>
			</p>
		</div>
		
		<div class="content">
			<p>I occasionaly <b>Blog</b> about my work, sharing technical musings and development tricks. I <b>Tumbl</b> about the few intresting things I see around.</p>
			<p>I have been known to tweet the odd sentance, and you can contact me via my twitter handle <b>@ArcathWhitefall</b></p>
		</div>
	</div>
</div>